{% extends 'layout.html' %}



{% block title %}
  MCQ generator
{% endblock %}
<body>
{% block content %}
    <div class='container' my-p4>
    <h1>MCQ generator for final year
    </h1>
    <hr>
    <h2>Select your stream
    </h2>
    <br>
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/mechanical">
        <img src="https://source.unsplash.com/-fGqsewtsJY/400x300" alt="Lights" style="width:100%">
        <div class="caption">
          <h3>Mechanical Engineering</h3>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/dev">
        <img src="https://source.unsplash.com/PhYq704ffdA/400x300" alt="Nature" style="width:100%">
        <div class="caption">
          <h3>Civil Engineering</h3>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/dev">
        <img src="https://source.unsplash.com/95YRwf6CNw8/400x300" alt="Fjords" style="width:100%">
        <div class="caption">
          <h3>Computer Engineering</h3>
        </div>
      </a>
    </div>
  </div>
</div>
<br>
<hr>
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/dev">
        <img src="https://source.unsplash.com/q6n8nIrDQHE/400x300" alt="Lights" style="width:100%">
        <div class="caption">
          <h3>Electrical Engineering</h3>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/dev">
        <img src="https://source.unsplash.com/bN5XdU-bap4/400x300" alt="Nature" style="width:100%">
        <div class="caption">
          <h3>Electronics Engineering</h3>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/dev">
        <img src="https://source.unsplash.com/2JrpkyZ2ruQ/400x300" alt="Fjords" style="width:100%">
        <div class="caption">
          <h3>Extc Engineering</h3>
        </div>
      </a>
    </div>
  </div>
</div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </div>
</body>
<style>
body {
  background-image: linear-gradient(to right, rgba(73,252,73,0), rgba(251,185,40,1));
}

</style>
{% endblock %}

</html>